@font-face {
  font-family: Poppins;
  font-weight: 900;
  src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

textarea:focus {
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header-fon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 22px 0 305px;
  position: relative;
}

.header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}

.logo {
  width: 139px;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
}

.menu-mobyle {
  display: none;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.menu__link:hover {
  border-color: white;
}

.lang {
  display: flex;
}

.lang__button {
  background-color: transparent;
  color: #B7B7B7;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.lang__button.active {
  color: white;
}

.lang__button:first-child {
  margin-right: 8px;
}

.header__title {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: white;
  width: 900px;
  margin-bottom: 53px;
}

.button {
  width: 198px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DB2512;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.header__carts {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart {
  width: 100%;
  padding: 39px 37px 37px 39px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.header__cart:not(:last-child) {
  margin-right: 21px;
}

.header__cart-img-box {
  width: 30px;
  height: 30px;
  margin-bottom: 21px;
}

.header__cart-img-box img {
  display: block;
  width: 100%;
  height: 100%;
}

.header__cart-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.header__cart-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #B7B7B7;
}

.services {
  padding: 197px 0 98px 0;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.15px;
}

.services__title {
  margin-bottom: 15px;
  text-shadow: 2px 4px 2px rgba(0,0,0,0.26);
}

.services__list-cart:not(:last-child) {
  margin-right: 20px;
}

.services__subtitle {
  display: block;
  width: fit-content;
  line-height: 15px;
  font-size: 15px;
  font-weight: 400;
  color: black;
  border-bottom: 1px solid black;
  margin-bottom: 60px;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

.services__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-cart {
  position: relative;
  z-index: 0;
  margin-bottom: 21px;
}

.services-cart:hover .services__modal {
  opacity: 1;
}

.services-cart img {
  width: inherit;
  height: inherit;
  display: block;
}

.services__list-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4.5px;
}

.services__button {
  background-color: #DB2512;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.services__modal {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 200px 29px 32px 29px;
}

.services__modal-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0.7;
}

.services__button img {
  width: 20px;
  height: 20px;
}

.services-cart__text {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  letter-spacing: 3.5px;
  color: white;
  width: 280px;
}

.about {
  background-color: #171616;
  padding: 117px 0 117px 0;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__container-modal {
  display: none;
}

.about__content {
  width: 400px;
}

.about-title {
  color: white;
  margin-bottom: 42px;
  line-height: 45px;
}

.about__text-content {
  font-size: 15px;
  line-height: 22.5px;
  color: #B7B7B7;
  font-weight: 600;
  letter-spacing: 1.15px;
  margin-bottom: 48px;
}

.about__link {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1.15px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  display: block;
  width: fit-content;
}

.about__img {
  width: 513px;
  height: 342px;
}

.about__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.work-process {
  padding: 100px 0 112px 0;
}

.work-process__title {
  font-size: 148px;
  line-height: 148px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

.work-process__subtitle {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  margin-bottom: 92px;
}

.work-process__carts {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.work-process__cart {
  padding: 30px 30px 25px 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  transition: 0.3s;
}

.work-process__cart:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work-process__cart:not(:last-child) {
  margin-right: 20px;
}

.work-process__cart-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.work-process__cart-description {
  font-size: 18px;
  font-weight: 400;
  color: #B7B7B7;
}

.contacts {
  background-color:#171616;
  padding: 84px 0 97px 0;
}

.contacts-title {
  color: white;
  margin-bottom: 46px;
}

.form {
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 440px;
}

.input {
  width: 197px;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding-bottom: 9px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.15px;
  font-family: 'Poppins', sans-serif;
}

.input::placeholder {
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.15px;
  font-family: 'Poppins', sans-serif;
}

.input:nth-child(1),
.input:nth-child(2) {
  margin-bottom: 45px;
}

.input:nth-child(3),
.input:nth-child(4) {
  margin-bottom: 54px;
}

.textarea {
  width: 100%;
  background: transparent;
  border: none;
  resize: none;
  border-bottom: 1px solid white;
  padding-bottom: 100px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.15px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 37px;
}

.textarea::placeholder {
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.15px;
  font-family: 'Poppins', sans-serif;
}

.footer {
  padding: 62px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer__list {
  display: flex;
  align-items: center;
}

.footer__list-item:not(:last-child) {
  margin-right: 21px;
}

.footer__list-item {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.footer__list-item img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1240px) {
  .container {
    width: 800px;
  }

  .header__title {
    width: auto;
  }

  .header__carts {
    align-items: normal;
  }

  .header__cart {
    padding: 30px;
  }

  .services-cart > img {
    width: 100%;
    height: 100%;
  }

  .services__modal {
    padding: 50px 29px 32px 29px;
  }

  .services__button {
    width: 60px;
    height: 60px;
    margin-bottom: 90px;
  }

  .services-cart__text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 2px;
    width: fit-content;
  }

  .about__container {
    position: relative;
    z-index: 1;
    padding: 50px;
  }

  .about__container-modal {
    display: block;
    background-image: url(../images/about-image.jpg);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
  }

  .about__img {
    display: none;
  }

  .about__img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }

  .work-process__title {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 30px;
  }

  .work-process__cart {
    padding: 20px;
  }
}

@media (max-width: 830px) {
  .container {
    width: 500px;
  }

  .header {
    padding-bottom: 200px;
  }

  .header header {
    margin-bottom: 100px;
  }

  .header__title {
    font-size: 38px;
    line-height: 50px;
  }

  .menu-mobyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }

  .menu-mobyle span {
    width: 100%;
    height: 4px;
    background-color: white;
  }

  .menu {
    display: none;
  }

  .header__cart {
    padding: 20px;
  }

  .header__cart-img-box {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
  }

  .header__cart-title {
    font-size: 12px;
    line-height: 18px;
  }

  .header__cart-subtitle {
    font-size: 13px;
    line-height: 21px;
  }

  .services {
    padding-top: 150px;
  }

  .services__list {
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
  }

  .services__list-cart:not(:last-child) {
    margin-right: 0;
  }

  .services__list-cart {
    height: 300px;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  .services-cart {
    height: 100%;
  }

  .services-cart > img {
    object-fit: cover;
  }

  .services__button {
    margin-bottom: 60px;
  }

  .work-process {
    padding: 70px 0;
  }

  .work-process__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  .work-process__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .work-process__carts {
    flex-direction: column;
  }

  .work-process__cart:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacts {
    padding: 60px 0;
  }

  .footer {
    padding: 40px 0;
  }
}

@media (max-width: 540px) {
  .container {
    width: 320px; 
  }

  .header {
    padding-bottom: 100px;
  }

  .logo {
    width: 100px;
  }

  .header header {
    margin-bottom: 60px;
  }

  .header__title {
    font-size: 28px;
    line-height: 40px;
  }

  .button {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }

  .header__carts {
    flex-direction: column;
    bottom: -55%;
  }

  .header__cart:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .services {
    padding-top: 500px;
    padding-bottom: 50px;
  }

  .services__subtitle {
    margin-bottom: 40px;
  }

  .services-cart {
    margin-bottom: 15px;
  }

  .services__list-title {
    font-size: 16px;
  }

  .services__button {
    margin-bottom: 30px;
  }

  .services-cart__text {
    font-size: 14px;
    line-height: 20px;
  }

  .about {
    padding: 100px 0;
  }

  .about__container {
    padding: 20px;
  }

  .about-title {
    font-size: 25px;
    line-height: 30px;
  }

  .about__text-content {
    font-size: 14px;
    line-height: 20px;
  }

  .about__link {
    font-size: 16px;
    line-height: 16px;
  }

  .work-process__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .work-process__subtitle {
    font-size: 17px;
    line-height: 20px;
  }

  .work-process__cart {
    padding: 18px;
  }

  .work-process__cart-title {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .work-process__cart-description {
    font-size: 14px;
  }

  .form {
    width: 100%;
  }

  .input {
    width: 40%;
  }

  .textarea {
    padding-bottom: 50px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__text {
    font-size: 10px;
  }
}